<!--<h1>Books#show</h1>-->
<!--<p>Find me in app/views/books/show.html.erb</p>-->


<body>
<p id="notice"></p>
<!--<p>-->
<!-- <strong>Title:</strong>-->
<!--リーダブルコード-->
<!--</p>-->
<!--<p>-->
<!--<strong>Body:</strong>-->
<!--より良いコードを書くためのシンプルで実践的なテクニック-->
<!--</p>まちがい-->

<p>
 <strong>Title:</strong>
<%= @book.title %>
</p>
<p>
<strong>Body:</strong>
<%= @book.body %>
</p>







<!--<a class="edit_169642" href="/books/169642/edit">Edit</a> |-->
<a class="back" href="/books">Back</a>
<!--↑link_toをつかう-->

<!--いんす
あくしょんでていぎ
ふぁいるがちがってもつかえる
ろーかる
そのふぁいるのなかでしかつかえない-->


<div id="UMS_TOOLTIP" style="position: absolute; cursor: pointer; z-index: 2147483647; background: transparent; top: -100000px; left: -100000px;">
</div>
</body>